
@{
    ViewData["Title"] = "Devices";
    Layout = "_Layout";

    string returnUrl = Context.Request.Path + Context.Request.QueryString;
    Context.Response.Cookies.Append("returnUrl", returnUrl);

    List<FYP_WEB_APP.Models.MongoModels.MongoDevicesListModel>
DevicesList = ViewData["MongoDevicesListModel"] as List<FYP_WEB_APP.Models.MongoModels.MongoDevicesListModel>;

    List<FYP_WEB_APP.Models.RoomsListModel>
    Rooms= ViewData["RoomListModel"] as List<FYP_WEB_APP.Models.RoomsListModel>;


}
<globalization requestEncoding="utf-8" responseEncoding="utf-8" />

<head>
    <title>@ViewData["Title"]</title>
    <script>

        $(function () {
            $('##dt').bootstrapTable()
        })
    </script>
</head>

<body class="">



    <div class="main  ">
        <div class=" bg-light p-3">

            <div class="d-flex flex-column">
                <div class="container-fluid ">
                    <div class=" h2">
                        <div>
                            Devices
                        </div>
                    </div>
                </div>
                <div class="p-2 bd-highlight">
                    <form method="get" action="Devices">
                        <div class="d-flex flex-row mb-2 p-2 w-100">
                            <div class="col px-0">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-default">
                                            <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="15.000000pt"
                                                 height="15.000000pt" viewBox="0 0 240.000000 240.000000"
                                                 preserveAspectRatio="xMidYMid meet">
                                                <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)"
                                                   fill="#000000" stroke="none">
                                                    <path d="M721 2379 c-259 -58 -457 -198 -591 -418 -76 -123 -130 -316 -130 -458 0 -101 38 -269 83 -366 133 -287 398 -479 716 -517 121 -15 251 -1 375 41 l90 30 346 -346 c233 -233 352 -345 366 -345 38 0 138 40 192 77 107 73 198 207 210 309 l5 46 -341 342 -341 341 34 100 c46 136 61 255 46 381 -46 393 -316 693 -699 780 -130 29 -242 30 -361 3z m387 -315 c182 -73 318 -225 366 -411 20 -78 20 -218 0 -297 -52 -203 -227 -378 -430 -430 -78 -20 -222 -21 -297 -1 -207 54 -378 225 -432 433 -20 74 -20 221 0 297 49 186 191 343 371 411 127 48 298 47 422 -2z" />
                                                </g>
                                            </svg>
                                        </span>
                                    </div>

                                    <div class="col align-items-center bg-white  text-dark border border-secondary">
                                        <div class="col-4  d-flex  flex-row py-2">
                                            <div class="d-flex px-3 align-items-center">
                                                location:
                                            </div>
                                            <div d-flex px-3 align-items-center">
                                                <select class="form-control bg-white" id="roomId" name="roomId" @ViewBag.SearchRoomIdENorDisable>
                                                    <option value="">Room.No</option>
                                                    @foreach (var Room in Rooms)
                                                    {

                                                        <option value="@Room.roomId">@Room.roomId</option>

                                                    }

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col  d-flex  flex-row align-items-center py-2">
                                            <div class="d-flex px-3 align-items-center">
                                                type:
                                            </div>
                                            <div class="d-flex px-3 align-items-center">

                                                <input type="checkbox" id="checkAll" />
                                                All
                                            </div>
                                            <div class="d-flex px-3 align-items-center">
                                                <input type="checkbox" id="AC" name="AC" value="true" />
                                                Air Conditioning
                                            </div>
                                            <div class="d-flex px-3 align-items-center">
                                                <input type="checkbox" id="LT" name="LT" value="true" />
                                                Light
                                            </div>
                                            <div class="d-flex px-3 align-items-center">
                                                <input type="checkbox" id="HD" name="HD" value="true" />
                                                Humidifier
                                            </div>
                                            <div class="d-flex px-3 align-items-center">
                                                <input type="checkbox" id="EF" name="EF" value="true" />
                                                EXH_FAN
                                            </div>
                                            <script>
                                                $("#checkAll").click(function () {
                                                    if ($("#checkAll").prop("checked")) {
                                                        $("input[name='AC']").each(function () {
                                                            $(this).prop("checked", true);
                                                        });
                                                        $("input[name='LT']").each(function () {
                                                            $(this).prop("checked", true);
                                                        });
                                                        $("input[name='HD']").each(function () {
                                                            $(this).prop("checked", true);
                                                        });
                                                        $("input[name='EF']").each(function () {
                                                            $(this).prop("checked", true);
                                                        });
                                                    } else {
                                                        $("input[name='AC']").each(function () {
                                                            $(this).prop("checked", false);
                                                        });
                                                        $("input[name='LT']").each(function () {
                                                            $(this).prop("checked", false);
                                                        });
                                                        $("input[name='HD']").each(function () {
                                                            $(this).prop("checked", false);
                                                        });
                                                        $("input[name='EF']").each(function () {
                                                            $(this).prop("checked", false);
                                                        });
                                                    }
                                                });</script>
                                        </div>

                                    </div>

                                    <div class="input-group-append">
                                        <input class="btn btn-outline-secondary" type="submit" value="search" />
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                    <partial name="_DevicesList" />
                    @if (ViewData["isnull"] != "true")
                    {
                        <div class="card d-flex flex-row mb-2 mx-2 p-2 ">
                            <button class="p-3 mx-2 btn btn-outline-secondary"> power report</button>
                            <button class="p-3 mx-2 btn btn-outline-secondary">debices report</button>
                            <button class="p-3 mx-2 btn btn-outline-secondary">maintain report</button>
                            <button class="p-3 mx-2 btn btn-outline-secondary">money report</button>
                        </div>
                        // <partial name="_DevicesChart" />
                        <div id="DevicesChartAC" class="flex-fill bd-highlight col-12 h-100"></div>
                        <div id="DevicesChartLT" class="flex-fill bd-highlight col-12 h-100"></div>
                        <div id="DevicesChartHD" class="flex-fill bd-highlight col-12 h-100"></div>
                        <div id="DevicesChartEF" class="flex-fill bd-highlight col-12 h-100"></div>
                        <script>
                $(document).ready(function () {
                    $("#DevicesChartAC").load("@Html.Raw(Url.Action("DevicesChart", "Devices", new { title = "Air Conditioning Log Record", chartType = "line", position = "top", sensorType = "AC" , download=false}))", function () {});
                    $("#DevicesChartLT").load("@Html.Raw(Url.Action("DevicesChart", "Devices", new { title = "Light Log Record", chartType = "line", position = "top", sensorType = "LT", download=false}))", function () {});
                    $("#DevicesChartHD").load("@Html.Raw(Url.Action("DevicesChart", "Devices", new { title = "Humidifier Log Record", chartType = "line", position = "top", sensorType = "HD", download=false}))", function () {});
                    $("#DevicesChartEF").load("@Html.Raw(Url.Action("DevicesChart", "Devices", new { title = "FAN Log Record", chartType = "line", position = "top", sensorType = "EF", download=false}))", function () {});

                });

                        </script>
                    }
                </div>
            </div>
        </div>
    </div>

</body>




