@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<FYP_WEB_APP.Models.SensorsListModel> Sensors = null;
    List<FYP_WEB_APP.Models.RoomsListModel> Rooms = null;
    if (ViewBag.viewType.Equals("Edit") || ViewBag.viewType.Equals("Drop"))
    {
        Sensors = ViewData["EditSensorsListModel"] as List<FYP_WEB_APP.Models.SensorsListModel>;
    }
    else if (ViewBag.viewType.Equals("Add"))
    {
        Rooms = ViewData["RoomListModel"] as List<FYP_WEB_APP.Models.RoomsListModel>;
    }

}
<form action="@ViewBag.action" method="post">

    <div class="modal-header">

        <h5 class="modal-title" id="exampleModalLabel"> @ViewBag.viewType Sensors @ViewBag.sid</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

            <span aria-hidden="true">&times;</span>

        </button>

    </div>
    <div class="modal-body p-2">

        <div class="row mx-3 justify-content-center align-items-center pb-2">
            <label class="col h5" for="SensorRoomId">Room:</label>
            <div class="col">
                @if (ViewBag.viewType.Equals("Edit"))
                {
                    <input type="text" class="form-control bg-white" id="roomId" name="roomId" placeholder="id" value="@if (Sensors != null)
                    {@Sensors.First().roomId}" required >
                }
                else if (ViewBag.viewType.Equals("Add"))
                {
                    <select id="roomId" name="roomId" class="form-control bg-white">
                        <option value="">Room.No</option>
                        @foreach (var Room in Rooms)
                        {

                            <option value="@Room.roomId">@Room.roomId</option>

                        }

                    </select>}
            </div>
        </div>
        @if (ViewBag.viewType.Equals("Edit") || ViewBag.viewType.Equals("Drop"))
        {
            <div class="row mx-3 justify-content-center align-items-center pb-2">
                <label class="col h5" for="SensorRoomId">Sensor id:</label>
                <div class="col">
                    @if (ViewBag.viewType.Equals("Edit"))
                    {
                        <input type="text" class="form-control bg-white" id="SensorId" name="SensorId" placeholder="id" value="@if (Sensors!=null) {@Sensors.First().sensorId}" required >
                    }
                    else if (ViewBag.viewType.Equals("Drop"))
                    {
                        <input type="text" class="form-control bg-white" id="SensorId" name="SensorId" placeholder="id" value="@if (Sensors!=null) {@Sensors.First().sensorId}" required >

                    }
                </div>
            </div>
        }




        @if (ViewBag.viewType.Equals("Add") || ViewBag.viewType.Equals("Edit"))
        {

            <div class="row mx-3 justify-content-center align-items-center pb-2">

                <label class="col h5" for="Sensortype">Sensors type:</label>
                <div class="col">
                    <select class="form-control bg-white" id="Sensortype" name="Sensortype" placeholder="type" required>
                        @{
                            string str = "";}
                        @if (ViewBag.viewType.Equals("Edit"))
                        {
                            <option value="@Sensors.First().sensorId.Substring(0, 2)">
                                @switch (Sensors.First().sensorId.Substring(0, 2))
                                {
                                    case "TS":
                                        str = "tempperature";
                                        break;
                                    case "LS":
                                        str = "Luminosity";
                                        break;
                                    case "HS":
                                        str = "humidity";
                                        break;
                                    default:
                                        break;
                                }
                                @str
                            </option>
                        }
                        <option value="TS">tempperature</option>
                        <option value="HS">humidity</option>
                        <option value="LS">Luminosity</option>
                    </select>
                </div>
            </div>


            <div class="row mx-3 justify-content-center align-items-center pb-2">

                <label class="col h5" for="Sensorlocation">Sensors location:</label>
                <div class="col">

                    <input type="text" class="form-control bg-white" id="Sensorlocation" name="Sensorlocation" placeholder="location" value="@if(Sensors!=null){@Sensors.First().location}" required >

                </div>

            </div>

            <div class="row mx-3 justify-content-center align-items-center pb-2">

                <label class="col h5" for="SensorDesc">Description:</label>
                <div class="col">

                    <input type="text" class="form-control bg-white" id="SensorDesc" name="SensorDesc" placeholder=" Description of Sensor" value="@if (Sensors != null) {@Sensors.First().desc}" required >

                </div>

            </div>
            @if (ViewBag.viewType.Equals("Edit"))
            {
                <div class="row mx-3 justify-content-center align-items-center pb-2">

                    <label class="col h5" for="SensorLatest_checking_time">Latest checking time:</label>
                    <div class="col">

                        <input type="datetime" class="form-control bg-white" id="SensorLatest_checking_time" name="SensorLatest_checking_time" value="@if (Sensors != null) {@Sensors.First().latest_checking_time}" required >

                    </div>

                </div>
                <div class="row mx-3 justify-content-center align-items-center pb-2">

                    <label class="col h5" for="SensorTotal_run_time">Total run time:</label>
                    <div class="col">

                        <input type="number" class="form-control bg-white" id="SensorTotal_run_time" name="SensorTotal_run_time" value="@if (Sensors != null) {@Sensors.First().total_run_time}" required >

                    </div>

                </div>
            }
        }
        <!--end modal body-->
        <div class="modal-footer">

            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>

        </div>

    </div>
</form>

