@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ List<FYP_WEB_APP.Models.DevicesListModel> DevicesList = ViewData["MongoDevicesListModel"] as List<FYP_WEB_APP.Models.DevicesListModel>;
}

<link rel="stylesheet" href="~/css/dragButton.css">

<div class="modal fade" id="DevicesForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" id="DevicesFormBody">

        </div>
    </div>
</div>
<div class="card d-flex flex-column mb-2 mx-2 p-2" >
    <div class="row justify-content-between mb-2">
        <div class="col">
            <div class="col h4">
                Device List
            </div>

        </div>
        <div class="d-flex justify-content-end">
            @* <div class=" d-flex justify-content-center align-items-center">
                    <a class="btn btn-outline-dark mx-2" href='@ViewBag.roomIdSortParm'>
                        RoomID
                        <img src="~/img/icon/@ViewBag.sortIMG" height="25" />
                    </a>
                </div>
            *@
            <div class="d-flex">


                @if (ViewData["roomID"] != null)
                {
                    <a href="#" class="btn btn-outline-success px-2 mr-3" onclick="AddtDevices('@ViewData["roomID"]')">
                        &#43; Add
                    </a>
                }
                else
                { <a href="#" class="btn btn-outline-success px-2 mr-3" onclick="AddtDevices()">
                        &#43; Add
                    </a>

                }
            </div>
        </div>
    </div>

    @if (DevicesList.Count() == 0)
    {
        <div class="alert alert-warning text-center font-weight-bold" role="alert">
            <h3>Please try again, no corresponding conditions.  </h3>
        </div>}
    else
    {

        <div class="overflow-auto ">
            <div class="card-deck shadow-sm rounded pt-1 ">
                @foreach (var deviceModel in DevicesList)
                {
                    string unit = "";
                    string deviceImg = "air-conditioner96.png";
                    string arrowInv = deviceModel.status ? "filter: invert(100%);" : "";
                    string devImgInv = deviceModel.status ? "filter: invert(100%);" : "";
                    @switch (deviceModel.devicesId.Substring(0, 2))
                    {
                        case "AC":
                            ViewData["cardType"] = deviceModel.status ? "device_on " : "device_off ";
                            ViewData["devicesType"] = "Air Conditioner";
                            unit = "ºC";
                            deviceImg = "air-conditioner96.png";
                            break;
                        case "LT":
                            ViewData["cardType"] = deviceModel.status ? "LightDevice_on " : "LightDevice_off ";
                            ViewData["devicesType"] = "Light";
                            devImgInv = "";
                            unit = "lm";
                            deviceImg = deviceModel.status ? "light-on64.png " : "light-off96.png ";
                            
                            break;
                        case "HD":
                            ViewData["devicesType"] = "Humidifier";
                            deviceImg = "humidifier96.png";
                            break;
                        case "EF":
                            ViewData["devicesType"] = "Extemal Fan";
                            deviceImg = "fan96.png";
                            break;
                    }


                    string turnOFstr = deviceModel.status ? "Turning On" : "Turning Off";
                    string turnOFClr = deviceModel.status ? "badge-success" : "badge-danger";
                    string turnOFimg = deviceModel.status ? "power-button-on36.png" : "power-button-off36.png";
                    ViewData["text"] = deviceModel.status ? "text-dark" : "text-white";
                    

                    <div class="card  @ViewData["cardType"] @ViewData["text"] mb-3" style="max-width: 15rem; min-width: 15rem">
                        @Html.Partial("_loader", "deviceLoader")
                        <div class="card-header pr-1">
                            <div class="d-flex bd-highlight align-items-center">
                                <div class="mr-auto bd-highlight">
                                    <a class=" @ViewData["text"] align-middle h-100" href="#">
                                        @ViewData["devicesType"]
                                    </a>
                                </div>
                                <div class=" bd-highlight">
                                    <a class="bd-highlight mt-1 align-middle h-100" href="#">

                                        <img class="mt-1" style="width: 24px;" src="~/img/icon/@turnOFimg" />

                                    </a>
                                </div>
                                <div class="dropdown  bd-highlight">

                                    <button role="button" class="btn  float-right mt-1 ml-2" type="button" id="dropdownMenuButton0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                        <img class=" mt-1" style="width: 16px; @arrowInv" src="~/img/icon/rightArrow.png" />
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton0">
                                        <a href="#" class="dropdown-item text-success " onclick="EditDevices('@deviceModel.devicesId')">Edit </a>
                                        <a href="#" class="dropdown-item text-danger " onclick="DropDevices('@deviceModel.devicesId')">Delete </a>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="card-body">

                            <p class="ard-text p-0 m-0">@deviceModel.roomId - <b>@deviceModel.devicesId</b> - @deviceModel.devices_Name</p>

                            <h3 class="card-title">
                                <img class="mr-2" style="width: 32px; @devImgInv" src="~/img/icon/@deviceImg" />
                                @deviceModel.current@unit
                            </h3>
                            <p class="card-text" style="margin-bottom: 0px">

                                <img style="width: 24px;" src="~/img/icon/lighting32.png" />
                                <b>@deviceModel.power</b> KW
                            </p>
                            <p class="card-text" style="margin-top: 0px"><small> Avg @deviceModel.avgPower kw / day</small></p>
                            <a class="shadow badge badge-pill  @turnOFClr" style="margin-left:-2px; font-size: 14px; margin-top:-5px; margin-bottom:5px" href="#">@turnOFstr</a>
                            <p class="card-text" ><small> <b style="font-size:14px;">@deviceModel.lastest_checking_time</b></small></p>
                        </div>
                    </div>

                    <!--    <div class="card bg-light mb-3 shadow-sm" style="max-width: 15rem;">
            <div class="card-header">
                Light
                <a href="#">
                    <img class="float-right mt-1" style="width: 24px;" src="~/img/icon/power-button-off36.png" />
                </a>
            </div>
            <div class="card-body">
                <p class="ard-text p-0 m-0">l01 - 3100002a</p>
                <h3 class="card-title">
                    <img class="mr-2" style="width: 32px;" src="~/img/icon/light-on32.png" />
                    N/A
                </h3>
                <p class="card-text">
                    <img style="width: 24px;" src="~/img/icon/lighting32.png" />90KW -
                    <snap class="card-text"><small> Avg: 9kw / dy</small></snap>
                </p>
                <a class="badge badge-pill badge-success" style="font-size: 14px">Turning on</a>
                <p class="card-text"><small>updated 3 mins ago</small></p>
            </div>
        </div>
        -->
                }
            </div>


                    </div>}
            </div>
<script>
    var EditDevices = function (Id) {

        var url = "/Devices/EditDevices/" + Id;

        $("#DevicesFormBody").load(url, function () {
            $("#DevicesForm").modal("show");

        })

    }
    var DropDevices = function (Id) {

        var url = "/Devices/DropDevices/" + Id;

        $("#DevicesFormBody").load(url, function () {
            $("#DevicesForm").modal("show");

        })

    }
    var AddtDevices = function () {

        var url = "/Devices/AddDevices";

        $("#DevicesFormBody").load(url, function () {
            $("#DevicesForm").modal("show");

        })

    }
    var AddtDevices = function (roomid) {

        var url = "/Devices/AddDevices/" + roomid;

        $("#DevicesFormBody").load(url, function () {
            $("#DevicesForm").modal("show");

        })

    }
   
</script>
