@*
    drag button with sensor and device
*@
@{
}
@model FYP_WEB_APP.Models.SensorsListModel

<link rel="stylesheet" href="~/css/dragButton.css">

@{
    String sensorClassType = "";
    String sensorUnit = "";
    switch (Model.sensorId.Substring(0, 2))
    {
        case "TS":
            sensorClassType = "TSensor";
            sensorUnit = " C";
            break;
        case "LS":
            sensorClassType = "LSensor";
            sensorUnit = " lm";
            break;
        case "HS":
            sensorClassType = "HSensor";
            sensorUnit = " %";
            break;
    }
}
<div class="draggable @sensorClassType" id="@Model.sensorId">


    <p>@Model.sensorId</p>
    <p>@Model.current_Value @sensorUnit</p>
</div>


<script>
    $(function () {
        $(".draggable").draggable({

            drag: function () {
                //var position = $(this).position();
                //$('#posx').text('px: ' + position.left);
                //$('#posy').text('py: ' + position.top);

            }
        });
    });
    $("#@Model.sensorId").css({ top: @Model.pos_x +'px', left:  @Model.pos_y +'px' });

</script>