@*
    drag button with sensor and device
*@

@model FYP_WEB_APP.Models.DevicesListModel

<link rel="stylesheet" href="~/css/dragButton.css">

@{

    String deviceImg = "";
    String displayType = "";
    switch (Model.devicesId.Substring(0, 2))
    {
        case "AC":
            deviceImg = "air-conditioner32.png";
            displayType = "Air Conditioner";
            break;
        case "LT":
            deviceImg = "light-on32.png";
            displayType = "Light";
            break;
        case "EF":
            deviceImg = "fan32.png";
            displayType = "Fan";
            break;
    }

    String deviceClass = "device_off";
    if (Model.powerOnOff)
    {
        deviceClass = "device_on";
    }
}
<div class="draggable @deviceClass" id="@Model.devicesId">
    <p style="margin:0; padding:0;">@Model.devicesId</p>
    <img src="~/img/icon/@deviceImg" height="24px" />
    <p>@Model.current</p>
</div>


<script>
    $("#@Model.devicesId").click(function () {
        //the id from _SensorDeviceDetail to change those UI

        $("#editBtn").attr("onclick", "EditDevices('@Model.devicesId')");

        $("#typeName").text("@displayType");
        $("#sdid").text("@Model.devicesId");
        $("#typeImg").attr('src', '/img/icon/@deviceImg');
        $("#current_value").text('@Model.current');
        $("#totalPower").text("@Model.power");
        $("#avgPower").text("@Model.avgPower");
        $("#lastUpdateTimes").text('@Model.lastest_checking_time');
        $("#detailDiv").removeClass('HSensor');
        $("#detailDiv").removeClass('TSensor');
        $("#detailDiv").removeClass('LSensor');
        $("#detailDiv").removeClass('bg-dark');
        $("#detailDiv").removeClass('device_on');
        $("#detailDiv").removeClass('device_off');
        $("#detailDiv").addClass('@deviceClass');
        $("#turnOnOff").text("Turning off");
    });

    $("#@Model.devicesId").css({ top: @Model.pos_x +'px', left:  @Model.pos_y +'px' });
    //var JSdeviceList = [];
    $(function () {
        $("#@Model.devicesId").draggable({

            stop: function () {
                var position = $(this).position();
                var jsSDmodel = new DragSensorDeviceButtonJSModel('@Model.devicesId', position.left, position.top);
                //JSdeviceList.push(jsSDmodel);
            }
        });
    });


</script>