@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<List<FYP_WEB_APP.Models.SensorsListModel>> Sensors = ViewData["SensorsListModel"] as List<List<FYP_WEB_APP.Models.SensorsListModel>>;

}

<div class="modal fade" id="EditSensors" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content" id="EditSensorsBody">


        </div>

    </div>
</div>
<div class="p-2 bd-highlight">
    <div class="card d-flex flex-column mb-2 mx-2 p-2" style="">
        <div class="row justify-content-between align-items-center mb-2 d-flex flex-wrap">
            <div class="col ">
                <div class="col h4">
                    Sensor List
                </div>

            </div>
            <div class=" d-flex justify-content-center align-items-center">
                <a class="btn btn-outline-dark mx-2" href='@ViewBag.roomIdSortParm'>
                    roomId
                    <img src="~/img/icon/@ViewBag.sortIMG" height="25" />
                </a>
            </div>
            <div class="d-flex justify-content-end">

                <a href="#" class="btn btn-outline-success px-2 mr-3" onclick="AddtSensors()">
                    &#43; Add
                </a>
            </div>
        </div>
        @if (Sensors.Count == 0)
        {<div class="alert alert-warning text-center font-weight-bold" role="alert">
                <h3>TryAgin, No more record in Your condition.  </h3>
            </div>}
        else
        {
            @foreach (var Sensor in Sensors)
            {
                <div class="card m-2">
                    <div class="card-header p-0" id="heading_@Sensor.First().roomId">
                        <h3 class="mb-0">
                            <button class="btn btn-outline-secondary w-100 border-0" data-toggle="collapse" data-target="#collapse_@Sensor.First().roomId" aria-expanded="true" aria-controls="collapse_@Sensor.First().roomId">
                                @Sensor.First().roomId
                            </button>
                        </h3>
                    </div>

                    <div id="collapse_@Sensor.First().roomId" class="collapse show" aria-labelledby="heading_@Sensor.First().roomId">
                        <div class="card-body d-flex flex-wrap">

                            @foreach (var Sensorss in Sensor)
                            {
                                <div class="p-2 bd-highlight ">
                                    <div class="shadow mb-3 bg-white rounded">
                                        <div class="p-3 bg-light">

                                            <div class="d-flex align-items-center">
                                                <h5 class="card-title mx-2">@Sensorss.roomId @Sensorss.sensorId</h5>
                                                <a href="#" class="btn btn-outline-success mx-2" onclick="EditSensors('@Sensorss.sensorId')">edit </a>

                                                <a href="#" class="btn btn-outline-danger mx-2" onclick="DropSensors('@Sensorss.sensorId')">Delete </a>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <img src="~/img/icon/@Sensorss.typeImg" height="50px">
                                                <h2 class="ml-3">@Sensorss.current_Value </h2>
                                                <h2 class="mx-2">@Sensorss.typeUnit</h2>
                                            </div>

                                            <p class="card-text my-1">
                                                @if (Sensorss.current_Time != DateTime.MinValue)
                                                {<b>
                                                        @Sensorss.current_Time
                                                    </b>
                                                }
                                                else
                                                {
                                                    <b> N/A </b>
                                                }
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            }}

    </div>
</div>

<script>
    var EditSensors = function (sensorId) {

        var url = "/Sensors/EditSensors/" + sensorId;

        $("#EditSensorsBody").load(url, function () {
            $("#EditSensors").modal("show");

        })

    }
    var DropSensors = function (sensorId) {

        var url = "/Sensors/DropSensors/" + sensorId;

        $("#EditSensorsBody").load(url, function () {
            $("#EditSensors").modal("show");

        })

    }
    var AddtSensors = function () {

        var url = "/Sensors/AddSensors";

        $("#EditSensorsBody").load(url, function () {
            $("#EditSensors").modal("show");

        })

    }
</script>